* {background-color: black;
    color: white; 
    text-align: center;}
img {width: 50%;
    margin-top: 25%
    ;
border: 4px solid white;
    }
div {font-family: "Nova Round", system-ui;
  font-weight: 400;
  font-style: normal;
    } 
p {font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;}
h1 {text-transform: uppercase;}